*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background-image: url(../img/background.svg);
  background-size: cover;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

#search-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#search-input {
    width: 0;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-input.active {
    width: 150px;
    opacity: 1;
}




